<div class="car-collec-main">
    <div class="container text-center">
        <h1 style="font-weight: bolder; font-size: 2.1rem; font-family: Inter;" class="py-3">Our Impressive Collection
            of Cars</h1>
        <h6 style="font-family: Inter;">Ranging from elegant sedans to powerful sports cars, all carefully selected to
            provide our customers with the ultimate driving experience.</h6>
    </div>
    <div class="car-collec-nav">
        <button style="font-family: Inter;" class="btn btn-white car-type-btn">Popular Car (2)</button>
        <button style="font-family: Inter;" class="btn btn-white car-type-btn">Luxury Car (1)</button>
        <button style="font-family: Inter;" class="btn btn-white car-type-btn">Vintage Car (0)</button>
        <button style="font-family: Inter;" class="btn btn-white car-type-btn">Family Car (2)</button>
        <button style="font-family: Inter;" class="btn btn-white car-type-btn">Off-Road Car (3)</button>
    </div>
    <div class="home-card-sec">
        <div class="long-card">
            <div class="lc-top-card">
                <div class="card-top-text">
                    <p style="color: black;">Payment Estimator</p>
                    <!-- Default checked radio -->
                    <div class="form-check loan-radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Red"
                            checked />
                        <label class="form-check-label" for="flexRadioDefault2">Loan</label>
                    </div>
                    <!-- Default radio -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Red" />
                        <label class="form-check-label" for="flexRadioDefault1">Lease</label>
                    </div>
                </div>
            </div>

            <div class="input-fields">
                <div class="fields-align">
                    <p>Sale price:</p>
                    <input type="text" placeholder="$ 0.00">
                </div>
                <div class="fields-align">
                    <p>Down Payment:</p>
                    <input type="text" placeholder="$ 0.00">
                </div>
                <div class="fields-align">
                    <p>Interest Rate:</p>
                    <input type="text" placeholder="$ 0.00">
                </div>

                <div class="fields-align loan-years">
                    <p>Loan Term Years :</p>
                    <button class="btn-group">28</button>
                    <button class="btn-group">36</button>
                    <button class="btn-danger  calculate" style=" border-color :red; background-color: rgba(219, 36, 35, 0.04);">48</button>
                    <button class="btn-group">60</button>
                    <button class="btn-group">72</button>
                </div>

                <div class="fields-align loan-years" id="specific-button">
                    <p>Payment Frequency:</p>
                    <button class="btn-group"  style="padding: 0.6rem;">M</button>
                    <button class="btn-group" style="padding: 0.6rem;">Q</button>
                    <button class="btn-group" style="padding: 0.4rem;">SA</button>
                    <button class="btn-group" style="padding: 0.6rem;"> A</button>
                </div>

                <div class="calculate-div">
                    <button class="btn btn-danger calculate">Calculate Payment</button>
                </div>
            </div>

            <hr>
            <div class="div-below-hr">
                <p>Find My Car</p>
                <input type="text" class=" search-box" placeholder="Search">
            </div>

            <div class="select-filters">
                <p>Select Filters<span> (2 selected)</span></p>
                <img src="../../assets/Layer 2.png" alt="">
            </div>

            <div class="drop-menus">
                <div class="drop-menu-options">
                    <p>Condition</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="drop-menu-options">
                    <p>Capacity</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>

            <div class="budget-range">
                <p>Budget</p>
                <input type="range" name="" id="">
                <div style="display: flex; justify-content: space-between;">
                    <p>$1000</p>
                    <p>$80,00,00</p>
                </div>
            </div>

            <hr>

            <div class="mileage-div">
                <p>Mileage</p>
                <div class="fields-align">
                    <p>Distance:</p>
                    <input type="text" placeholder="0.00 Km">
                </div>
                <div class="fields-align">
                    <p>Fuel Efficiency:</p>
                    <input type="text" placeholder="0.00 Km/L">
                </div>
            </div>

            <div class="div-end-btn">
                <button class="btnn reset">Rest</button>
                <button class="btnn show-res">Show Results</button>
            </div>

        </div>
        <div class="collec-cards">
            <div class="car-card" *ngFor="let car of carDetails">
                <img src={{car.imgUrl}}>
                <div class="container">
                    <p style="font-weight: bold; font-size: 15px; margin-bottom: 6px;">{{car.name}}</p>
                    <h4 style="font-family: Montserrat; font-weight:bold; color: #ED5434;"> {{car.price}}</h4>
                    <div class="smallblock">
                        <div class="smallsubblock text-center">
                            <img src="../../../assets/speedometer-01.png" style="height: 15px; width: auto; margin-bottom: 0;">
                            <p>{{car.speed}}</p>
                        </div>
                        <div class="smallsubblock text-center">
                            <img src="../../../assets/manual-gearbox.png" style="height: 15px; width: auto; margin-bottom: 0;">
                            <p>Auto</p>
                        </div>
                        <div class="smallsubblock text-center">
                            <img src="../../../assets/users-01.png" style="height: 15px; width: auto; margin-bottom: 0;">
                            <p>4 Person</p>
                        </div>
                        <div class="smallsubblock text-center">
                            <img src="../../../assets/gas-station.png" style="height: 15px; width: auto; margin-bottom: 0;">
                            <p>Electric</p>
                        </div>
                    </div>
                    <button class="btn btn-white"
                        style="font-weight: bold; border: solid black 1px; border-radius: 20px; margin-top: 10px; font-size:
                         12px; width: 100%; margin-bottom: 20px;">Select</button>
                </div>
            </div>
        </div>
    </div>

</div>