.an-pending{
    padding: 110px 65px 0px 25px;
    display:flex;
    gap: 20px;
}
 .approval{
    color: hwb(0 7% 8%);

// font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
 }

.left-card{

    height: 30rem;

    width: 27.8rem;

}

 

.right-side{

    flex:1;
height: fit-content;
    padding: 20px

}