<app-navbar-after-home-page [navtheme]="'whitetheme'"></app-navbar-after-home-page>
<div class="an-pending">
    <div class="card left-card border border-2">

    </div>
    <div>
        <div class="card right-side">
            <p class="an-head">APPROVAL CONDITION:</p>
            <div class="an-body">
                <p><b>Condition :</b> 3 Months Bank Statement Required</p>
                <p><b>Due By :</b> 15/10/2023</p>
                <p><b>Status :</b> <span style="background-color: #FFF069; border-radius: 10px; padding: 5px 10px; margin-left: 10px;">Pending</span></p>
            </div>
        </div>
        <div class="card right-side">
            <p class="an-sub-head">Upload Document</p>
            <div class="an-body dealership mb-3" style="align-items: center;">
                <label style="margin-right: 20px;"><b>Document Type:</b></label>
                <select name="cars" id="cars" class="an-drop">
                    <option value="">Choose</option>
                    <option value="saab">2023 Toyota</option>
                    <option value="opel">2023 Toyota</option>
                    <option value="audi">2023 Touota</option>
                </select>
            </div>
            <div class="an-drag">

            </div>
            <p style="font-size: 11px; color: grey; font-family: Montserrat; font-weight: bold;">Max file is 10MB. Supported file format are JPG, PNG, PDF.</p>
        </div>
        <div class="card right-side">
            <p class="an-head">ADD NOTE:</p>
            <div class="an-body mb-3">
                <input class="form-control border border-1 border-secondary">
                <button class="btn addbtn">Add</button>
            </div>
        </div>
        <div class="card right-side">
            <p class="an-head">LOAN CONTRACT:</p>
            <div class="an-body">
                <p ><b>Email : Johnsmith@hotemail</b></p>
                <button class="btn signbtn">+ eSign</button>
            </div>
        </div>
        <div class="card right-side">
            <p class="an-head">DEALERSHIP FOR DELIVERY:</p>
            <div class="an-body dealership">
                <p class="deal"><b>Street :</b> 1 Lowther Street</p>
                <p class="deal"><b>City :</b> Cheristchurch</p>
                <p><b>State / Province / Area :</b> Sockburn</p>
            </div>
            <div class="an-body dealership">
                <p class="deal"><b>Zip Code :</b> 0142</p>
                <p class="deal"><b>Country :</b> New Zealand</p>
            </div>
        </div>

    </div>
    

</div>
