<app-navbar-after-home-page [navtheme]="'whitetheme'"></app-navbar-after-home-page>
<div class="an-pending">
    <div class="card left-card border border-2" *ngFor="let car of carDetails">
        <!-- (click)="redirect('car-sub')"  -->
        <div class="car-card">
            <img src={{car.imgUrl}}>
        </div>
          <h5 class="card-title" style="font-family: 'Inter'; text-align: center; font-size: 18px; color:#DB2423"><b>Application ID: UNE0348</b></h5>
          <div class="d-flex" style="justify-content: space-between;">
            <div class="package-details">
                <p><b>Your chosen package:</b> </p>
                <p style="color: #DB2423;"><b>Your current installment is:</b></p>
                <p ><b>Your Total Amount of Finance</b></p>
                <p >Down Payment</p>
                <p >Repayment Frequency </p>
                <p >APR of</p>
                <p >Add on (installment)</p>
                <p ><b>Your Final Installment is</b></p>
                <p >Your first payment is</p>
            </div>
            <div class="package-details">
                <p><b>--</b> </p>
                <p style="color: #DB2423;"><b>$14809 / month</b></p>
                <p ><b>$8800</b></p>
                <p >$12000</p>
                <p >Monthly </p>
                <p >7.9 %</p>
                <p >$0</p>
                <p ><b>$1,420</b></p>
                <p >$14,420</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card right-side">
            <p class="an-head">APPROVAL CONDITION:</p>
            <div class="an-body">
                <p><b>Condition :</b> 3 Months Bank Statement Required</p>
                <p><b>Due By :</b> 15/10/2023</p>
                <p><b>Status :</b> <span style="background-color: #FFF069; border-radius: 10px; padding: 5px 10px; margin-left: 10px;">Pending</span></p>
            </div>
        </div>
        <div class="card right-side">
            <p class="an-sub-head">Upload Document</p>
            <div class="an-body dealership mb-3" style="align-items: center;">
                <label style="margin-right: 20px;"><b>Document Type:</b></label>
                <select name="cars" id="cars" class="an-drop">
                    <option value="">Choose</option>
                    <option value="saab">Identity Proof</option>
                    <option value="opel">Bank Statement</option>
                    <option value="audi">Paystub</option>
                    <option value="audi">Tax Return</option>
                </select>
            </div>
            <div class="an-drag">

                <p-toast></p-toast>
                <p-fileUpload name="files[]" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                chooseLabel="Choose Your Files"
                (onUpload)="onUpload($event)" 
                [multiple]="true" 
                [showCancelButton]="false"
                accept="image/*" [maxFileSize]="1000000">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                </p-fileUpload>
                <p class="drag-file-text mx-auto">Drag your files here</p>

            </div>
            <p style="font-size: 11px; color: grey; font-family: Montserrat; font-weight: bold;">Max file is 10MB. Supported file format are JPG, PNG, PDF.</p>
        </div>
        <div class="card right-side">
            <p class="an-head">ADD NOTE:</p>
            <div class="an-body mb-3">
                <input class="form-control border border-1 border-secondary">
                <button class="btn addbtn">Add</button>
            </div>
        </div>
        <div class="card right-side">
            <p class="an-head">LOAN CONTRACT:</p>
            <div class="an-body">
                <p ><b>Email : Johnsmith@hotemail</b></p>
                <button class="btn signbtn">+ eSign</button>
            </div>
        </div>
        <div class="card right-side">
            <p class="an-head">DEALERSHIP FOR DELIVERY:</p>
            <div class="an-body dealership">
                <p class="deal"><b>Street :</b> 1 Lowther Street</p>
                <p class="deal"><b>City :</b> Cheristchurch</p>
                <p><b>State / Province / Area :</b> Sockburn</p>
            </div>
            <div class="an-body dealership">
                <p class="deal"><b>Zip Code :</b> 0142</p>
                <p class="deal"><b>Country :</b> New Zealand</p>
            </div>
        </div>

    </div>
    

</div>
<div class="car-subs-footer">
    <div class="cs-footer-com">
        <button class="btn" (click)="redirect('work-space')">BACK</button>
    </div>
    <div class="cs-footer-com">
        <button class="btn" (click)="onSubmit()">SUBMIT</button>
    </div>
</div>
